#dashboard2 {
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

h2 {
  text-align: center;
  font-size: 50px;
  color: rgb(241, 133, 10);
}

.vegetable {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 25vw; /* Same width as fruit */
  height: 50vh; /* Same height as fruit */
  padding-bottom: 1rem;
  margin: 20px auto;
  background-color: rgb(250, 190, 134);
  border-radius: 5px;
  border: 1px solid rgb(245, 90, 90);
  box-sizing: border-box;
  box-shadow: -4px 3px 25px 1px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: -4px 3px 25px 1px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: -4px 3px 25px 1px rgba(0, 0, 0, 0.55);
}

.vegetable img {
  height: 12vw;  /* Adjust image size */
  width: 100%;   /* Ensures the image fills the container */
  object-fit: cover; /* Keeps aspect ratio intact */
}

.vegetable .title {
  margin: 0;
  letter-spacing: 2px;
  color: rgb(95, 94, 94);
  text-decoration: underline;
}

.details-btn {
  margin-top: 4px;
  text-decoration: none;
  font-size: 21px;
  width: 160px;
  border-radius: 3px;
  text-align: center;
  color: white;
  background: rgb(240, 156, 47);
}

.details-btn:hover {
  background: #bd2c2c;
}

.vegetable p {
  margin: auto;
  font-size: 0.7rem;
  font-weight: 500;
  width: 90%;
  text-align: center;
  color: rgb(24, 23, 23);
  font-family: 'Roboto', sans-serif;
  word-wrap: break-word;
}

form {
  margin-bottom: 20px;
  text-align: center;
}

form input[type="text"] {
  padding: 8px;
  font-size: 16px;
  width: 250px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #bd752c;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #bd8f2c;
}
