{% extends 'common/base.html' %}

{% block content %}
<!-- Dashboard Page -->
<h2>Vegetables</h2>
    <form method="GET" action="{% url 'dashboard2' %}">
    <input type="text" name="q" placeholder="Search vegetables..." value="{{ query }}">
    <button type="submit">Search</button>
</form>
<section id="dashboard">
    <!-- Display a div "fruit" with information about each post (if any)-->
    {% if vegetables %}

        {% for vegetable in vegetables %}
            <!-- first fruit -->
            <div class="fruit">
                <!-- vegetable image -->
                <img src="{{ vegetable.image_url }}" alt="example1"/>
                <!-- vegetable name -->
                <h3 class="title">{{ vegetable.name }}</h3>
                <!-- vegetable description -->
                <p class="description">{{ vegetable.price }} $</p>
                <!-- vegetable details button -->
                <a class="details-btn" href="{% url 'vegetables-detail' vegetable.id %}">More Info</a>
            </div>
        {% endfor %}
</section>

<!-- Display a heading if there are no posts -->
    {% else %}
<h2>No vegetables info yet.</h2>
    {% endif %}

{% endblock %}